
<b>Author</b>: William Hu, From Dalian, China.

5+ years experience IOS developer.

<b>My Projects in 2015</b>
-----------------------------------------------
<br>
<div style="text-align: left;" id="about">
  <span class="box">
	  <a href="http://revols.com"><img src="{{ site.url }}/assets/iosIcons/Revols.png"></a >
    <a href="http://revols.com">Revols</a >
</span>
  <span class="box">
	  <a href="http://www.auromabrewing.com"><img src="{{site.url}}/assets/iosIcons/Auroma.png"></a >
    <a href="http://www.auromabrewing.com">Auroma</a >
  </span>
  <span class="box">
	  <a href="" class="about_a"><img src="{{site.url}}/assets/iosIcons/JumpRope.png"></a >
    <a href="">JumpRope</a >
  </span>
  <span class="box">
	  <a href="http://www.dispatchrobotics.com"><img src="{{site.url}}/assets/iosIcons/Dispatch.png"></a >
    <a href="http://www.dispatchrobotics.com">Dispatch</a >
  </span>
</div>


<br>
<br>
<b>OpenSource project<b>
-----------------------------------------------
<a href="https://github.com/williamhqs/GSAnalysis">GSAnalysis</a> provides an easy way to draw analysis graphic in Swift. 
<br>
<br>